* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  gap: 2ch;
  place-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.2em;
}

img, svg {
  display: block;
}

input {
  font: inherit
}

button {
  padding: 2ch;
  border: none;
  font: inherit;
  cursor: pointer;
}

button:hover:not(:disabled) {
  filter: brightness(0.9);
}

button:active {
  filter: brightness(0.75);
}

button:disabled {
  cursor: not-allowed;
}

.nonogram {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  gap: 1ch;
}

.gridAndLabels {
  display: grid;
  grid-template-columns: 5rem 25rem;
  grid-template-rows: 5rem 25rem;
  padding: 1ch;
}

.topLabels {
  grid-column: 2 / auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  text-align: center;
  font-size: 1.6em;
  gap: 3px;
}

.topLabel {
  width: 5rem;
  height: 5rem;
  display: flex;
  place-content: center;
  place-items: center;
}

.sideLabels {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  align-content: center;
  text-align: center;
  font-size: 1.6em;
  gap: 3px;
}

.sideLabel {
  width: 5rem;
  height: 5rem;
  display: flex;
  place-content: center;
  place-items: center;
}

.colorGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 3px;
  width: 25rem;
  aspect-ratio: 1;
  border: 3px solid black;
  background: black;
}

.colorCell {
  cursor: pointer;
  background: white;
  position: relative;
}

.colorGrid:not(.finished) .locked {
  filter: grayscale(30%);
}

.colorGrid:not(.finished) .locked::after {
  content: 'X';
  font-family: monospace;
  font-size: 4em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.finished, .finished .colorCell {
  cursor: not-allowed;
}

.colors {
  display: flex;
}

.colors label {
  padding: 2ch;
  cursor: pointer;
}

.colors input {
  display: none;
}

.colors input:checked + label {
  background: darkgray;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  place-items: center;
  place-content: center;
}

.modal {
  background: white;
  padding: 2em;
  position: relative;
  z-index: 4;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.successImage {
  position: absolute;
  filter: drop-shadow(0 0 20px red);
}

.selected {
  background: darkgray;
}

.red {
  background: red;
}

.green {
  background: rgb(4, 143, 34);
}

.brown {
  background: rgb(94, 61, 0);
}

.yellow {
  background: yellow;
}

.gray {
  background: rgb(124, 124, 124);
}

.black {
  background: black;
}

.blue {
  background: rgb(0, 71, 138);
}

.white {
  background: white;
}

.theseusAndAsterion {
  position: relative;
  display: flex;
  gap: 2ch;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 2ch;
  max-width: 20ch;
}

.maze {
  position: relative;
  border: 3px solid black;
  min-height: 90vh;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);

  --border-width: 2px;
}

.maze.won {
  border: none;
}

@font-face {
  font-family: 'Rage Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Rage Italic'), url('RAGE_1.woff') format('woff');
}

.riddle {
  position: absolute;
  display: flex;
  font-size: 3em;
  width: 100%;
  height: 100%;
  text-align: center;
  place-content: center;
  place-items: center;
  font-family: 'Rage Italic';
  background: gray;
  color: white;
}

.maze.won .riddle {
  animation: doneRiddle 1s forwards linear;
}

@keyframes doneRiddle {
  10% {
    color: black;
  }
  20% {
    color: white;
  }
  30% {
    color: black;
  }
  40% {
    color: white;
  }
  50% {
    color: black;
    background: white;
  }
  60% {
    color: white;
  }
  70% {
    color: black;
  }
  85% {
    color: white;
  }
  90% {
    color: black;
  }
  100% {
    background: black;
    color: red;
  }
}

.maze.won .mazeCell {
  border: none;
}

.maze.won .entity {
  display: none;
}

.mazeCell {
  border: 1px dashed gray;
  position: relative;
  z-index: 1;
  --border-color: black;
}

.mazeCell:not(.revealed) {
  background: white;
}

.topBorder {
  border-top: var(--border-width) solid var(--border-color);
}

.rightBorder {
  border-right: var(--border-width) solid var(--border-color);
}

.bottomBorder {
  border-bottom: var(--border-width) solid var(--border-color);
}

.leftBorder {
  border-left: var(--border-width) solid var(--border-color);
}

.entity {
  width: 7vh;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  transform-origin: center;
  display: flex;
  place-content: center;
  place-items: center;
  top: 1vh;
  left: 1vh;
  z-index: 3;
  will-change: transform;
  transition: transform 0.2s;
}

.entity img {
  max-width: 80%;
  max-height: 80%;
  aspect-ratio: 1;
}

.theseus {
  background: rgb(187, 14, 14);
  transform: translate(calc(9 * (9vh - 0.5px)), calc(9 * (9vh - 0.5px)));
}

.asterion {
  background: rgb(91, 148, 255);
}

.wrongPassword {
  color: red;
}

.none {
  display: none;
}
